GMAIL_USER=mariesnlk90@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
ANALYTICS_REPORT_EMAIL=mariesnlk90@gmail.com
VERCEL_ACCESS_TOKEN=your_vercel_access_token
VERCEL_PROJECT_ID=your_vercel_project_id
VERCEL_TEAM_ID=your_vercel_team_id
CRON_SECRET=your_random_secret_of_at_least_16_characters
